:root {
  --bg-hard-1: rgba(4, 43, 71, 1);
  --bg-hard-1-7: rgba(4, 43, 71, 0.7);
  --bg-hard-2: rgba(85, 73, 113, 1);
  --bg-hard-2-7: rgba(85, 73, 113, 0.7);
  --bg-half-3: rgba(99, 118, 141, 1);
  --bg-half-3-7: rgba(99, 118, 141, 0.7);
  --bg-light-4: rgba(184, 243, 255, 1);
  --bg-light-4-7: rgba(184, 243, 255, 0.7);
  --bg-light-5: rgba(216, 219, 226, 1);
  --bg-light-5-7: rgba(216, 219, 226, 0.7);
}
.cv-header {
  background: var(--bg-hard-1);
  padding: 2vw 0;
  position: relative;
  border-bottom: 1.2vw solid var(--bg-light-4-7);
  max-width: 100vw;
  color: var(--bg-light-4);
}
.cv-header .cv-titular {
  max-width: 80vw;
  margin-left: auto;
}
.cv-header .cv-titular h1 {
  font-size: 3vw;
  letter-spacing: 0.2vw;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 0.3vw;
  margin: 0;
  text-shadow: 0.2vw 0.25vw 0.25vw var(--bg-light-5);
}
.cv-header .cv-titular p {
  padding-bottom: 0.08vh;
  margin: 0;
  text-align: center;
  letter-spacing: 0.5vw;
  font-size: 2vw;
}
.cv-header .cv-titular p:nth-child(2) {
  font-weight: 800;
  font-size: 2.5vw;
}
.cv-header .cv-titular p:nth-child(3) {
  font-size: 1.65vw;
  letter-spacing: 0.05vw;
  font-weight: 700;
  font-size: 2.2vw;
}
.cv-header .cv-titular p:nth-child(4) {
  font-size: 1.75vw;
  letter-spacing: 0.1vw;
  font-weight: 700;
}
.cv-header .cv-titular p:nth-child(5),
.cv-header .cv-titular p:nth-child(6) {
  letter-spacing: 0.1vw;
  font-weight: bold;
  font-size: 1.7vw;
}
.cv-header .cv-titular p:nth-child(7) {
  letter-spacing: 0.4vw;
  font-size: 1.9vw;
}
.cv-header .cv-titular p:nth-child(7) a {
  text-decoration: none;
  font-weight: 800;
}
.cv-header .cv-titular p:nth-child(8) {
  letter-spacing: 0.1vw;
  font-size: 1.8vw;
  margin-left: auto;
}
.cv-header .cv-titular p:nth-child(8) a {
  text-decoration: none;
}
.cv-header .cv-foto-l2v2 {
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 2vw;
  left: 2.3vw;
}
.cv-header .cv-foto-l2v2 img {
  border-radius: 50%;
  box-shadow: 0.3vw 0.3vw 0.8vw #666;
}
.cv-seccion {
  max-width: 100vw;
  background-color: var(--bg-light-5-7);
  color: var(--bg-hard-1);
  margin-top: 0;
  margin-bottom: 0;
}
.cv-seccion > .cv-seccion-h2 {
  /* min-width: 100vw; */
  min-height: 4.5vw;
  position: relative;
  display: flex;
}
.cv-seccion > .cv-seccion-h2 > h2 {
  margin: 0.2vw 0 0.2vw 1.5vw;
  font-size: 2.8vw;
  background: var(--bg-hard-1);
  color: var(--bg-light-4);
  padding: 0.8vw 2.5vw;
  border-radius: 1vw;
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  display: inline-block;
  z-index: 2;
  box-shadow: 0.3vw 0.3vw 0.6vw var(--bg-half-3-7);
}
.cv-seccion > .cv-seccion-h2 > h2:hover {
  background: var(--bg-hard-2);
}
.cv-seccion > .cv-seccion-h2::after {
  content: "";
  background-color: var(--bg-hard-1);
  max-height: 3.5vw;
  width: 8vw;
  padding: 0.8vw;
  margin-top: 1vw;
  border-top-right-radius: 1.7vw;
  border-bottom-right-radius: 1.7vw;
  z-index: 3;
  box-shadow: 0.3vw 0.3vw 0.6vw var(--bg-half-3-7);
}
.cv-seccion > .cv-seccion-h2 > .hr-line {
  color: var(--bg-light-4);
  border: 0;
  border-top: 0.4vw solid var(--bg-hard-1);
  min-width: 65vw;
  height: 0.6vw;
  background: var(--bg-hard-1);
  opacity: 1;
  display: block;
  position: absolute;
  top: calc(4.5vw / 2);
  left: 25vw;
  box-shadow: 0.3vw 0.3vw 0.6vw var(--bg-half-3-7);
}
.cv-seccion > .cv-seccion-h2 > .hr-line::before {
  content: "";
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  background-color: var(--bg-hard-1);
  border: thin solid var(--bg-hard-1);
  display: inline-block;
  position: absolute;
  top: calc(-4.5vw / 5);
  left: 98%;
  box-shadow: 0.3vw 0.3vw 0.6vw var(--bg-half-3-7);
}
.cv-articulo {
  margin: 0 2vw;
  font-size: 2vw;
  padding-bottom: 2vw;
}
.cv-articulo ul {
  list-style: none;
  margin-left: -1vw;
  margin-top: 1.5vw;
}
.cv-articulo ul li::selection {
  background-color: var(--bg-hard-2);
  color: var(--bg-light-4);
}
.cv-articulo ul li {
  padding-left: 3vw;
  background-image: url("../img/confirmed.svg");
  background-position: -0.1vw 0.4vw;
  background-size: 2vw;
  background-repeat: no-repeat;
}
.cv-articulo .cv-instruccion {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
.cv-articulo .cv-instruccion span {
  font-size: 2vw;
  display: block;
}
.cv-articulo .cv-instruccion span::selection {
  background-color: var(--bg-hard-2);
  color: var(--bg-light-4);
}
.cv-articulo .cv-instruccion span:nth-child(1) {
  font-weight: bold;
}
.cv-articulo .cv-instruccion span:nth-child(2),
.cv-articulo .cv-instruccion span:nth-child(3),
.cv-articulo .cv-instruccion span:nth-child(4) {
  margin-left: 4vw;
}
.cv-laboral {
  display: flex;
  font-size: 1.3rem;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: left;
}
.cv-laboral .cv-card {
  border: thin solid var(--bg-hard-2);
  margin: 1vw 1vw;
  padding-bottom: 1vw;
  width: 100vw;
  border-radius: 0.4vw;
}

.cv-laboral .cv-card::selection {
  background-color: var(--bg-hard-2);
  color: var(--bg-light-4);
}
.cv-laboral .cv-card .cv-empresa {
  text-align: left;
  font-weight: 700;
  background: var(--bg-half-3-7);
  padding: 1.2vw 1vw 0.5vw 1vw;
}
.cv-laboral .cv-card .cv-cargo,
.cv-laboral .cv-card .cv-detail-labor {
  padding-left: 2vw;
  padding-right: 2vw;
}
.cv-laboral .cv-card .span-resaltar {
  font-weight: 800;
}
.cv-laboral .cv-card .cv-periodo {
  padding-left: 2vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.cv-pub-ref {
  display: flex;
  font-size: 1.3rem;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: left;
}
.cv-pub-ref .cv-card {
  border: thin solid var(--bg-hard-2);
  margin: 1vw 1vw;
  padding-bottom: 1vw;
  width: 45vw;
  border-radius: 0.4vw;
}
.cv-pub-ref .cv-card::selection {
  background-color: var(--bg-hard-2);
  color: var(--bg-light-4);
}
.cv-pub-ref .cv-card .cv-empresa {
  text-align: left;
  font-weight: 700;
  background: var(--bg-half-3-7);
  padding: 1.2vw 1vw 0.5vw 1vw;
}
.cv-pub-ref .cv-card .cv-cargo,
.cv-pub-ref .cv-card .cv-detail-labor {
  padding-left: 2vw;
  padding-right: 2vw;
}
.cv-pub-ref .cv-card .span-resaltar {
  font-weight: 800;
}
.cv-pub-ref .cv-card .cv-periodo {
  padding-left: 2vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
  .cv-laboral .cv-card {
    width: 45vw;
    font-size: 1.1rem;
  }
}
@media print {
  .cv-seccion {
    background-color: unset;
    margin-top: 2rem;
  }
  .cv-seccion:nth-child(2) {
    margin-top: 1rem;
  }
  .cv-seccion:nth-child(3) {
    padding-top: 3rem;
  }
  .cv-seccion:nth-child(4) {
    /* Experiencia laboral */
    padding-top: 5rem;
  }
  .cv-seccion:nth-child(5) {
    padding-top: 5rem;
  }
  .cv-seccion > .cv-seccion-h2 > h2 {
    background: var(--bg-hard-1);
    color: var(--bg-half-3);
    box-shadow: 0.3vw 0.3vw 0.6vw var(--bg-hard-1);
  }

  .cv-seccion > .cv-seccion-h2::after {
    background-color: var(--bg-hard-1);
    color: var(--bg-half-3);
    box-shadow: 0.3vw 0.3vw 0.6vw var(--bg-hard-1);
  }
  .cv-laboral .cv-card {
    font-size: 1.1rem;
  }
  .cv-pub-ref .cv-card {
    font-size: 1rem;
  }
  .cv-header {
    color: var(--bg-hard-1);
    border-bottom: 1.2vw solid var(--bg-hard-1-7);
  }
  .noprint {
    display: none;
  }
}
